.single-comic-section{
   
    .blue-line{
        height: 100px;
        background-color: #0282F9;
    }

    .single-comic-box{
        width: 60%;
        margin-inline: auto;
        height: 500px;
    }
    
}