@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;500;600;700;800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header .blue-bar {
  background-color: #0282F9;
}

header .blue-bar div {
  display: flex;
  justify-content: flex-end;
}

header .blue-bar div span {
  color: white;
  padding: 5px 0;
  margin-left: 70px;
}

header nav {
  width: 70%;
  margin-inline: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  list-style: none;
  padding: 0 15px;
  font-weight: 600;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  padding-bottom: 60px;
}

header nav ul li a:hover {
  color: #0282F9;
  cursor: pointer;
  box-shadow: 0px 5px 0 #0282F9;
}

header nav .search-bar {
  border: none;
  border-bottom: 1px solid #0282F9;
}

.width-70 {
  width: 70%;
  margin-inline: auto;
}

.hero {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.sect-settings {
  padding: 50px 0;
  background-color: #0282F9;
}

.container {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-button {
  display: flex;
  align-items: center;
}

.menu-button:hover {
  cursor: pointer;
  scale: 1.1;
}

.menu-button img {
  height: 50px;
  margin: 0 10px;
}

.menu-button .size-fix {
  width: 50px;
}

.menu-button span {
  color: white;
}

.bg-black {
  background-color: #1C1C1C;
}

.container {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container .series-label {
  padding: 15px;
  background-color: #0282F9;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  color: white;
  font-weight: 600;
}

.container .comics-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 50px 0;
}

.load-more {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.load-more .load-more-btn {
  padding: 10px 30px;
  background-color: #0282F9;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

.load-more .load-more-btn:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s;
}

h2 {
  color: white;
}

.card {
  width: 16.6666666667%;
  margin-top: 10px;
  padding: 20px;
}

.card a {
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  scale: 1.3;
  transition: 0.3s;
}

.card .img-box {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card .img-box img {
  width: 100%;
}

h5 {
  color: white;
  margin-top: 20px;
}

.sect-settings-1 {
  background: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
  background-repeat: no-repeat;
}

.d-flex {
  display: flex;
}

.container {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.container .dc-logo-box {
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-size: cover;
  background-position: center;
  width: 40%;
}

.footer-menu {
  margin: 0 20px;
  padding: 50px 0;
}

.footer-menu h3 {
  color: white;
  margin-bottom: 10px;
}

.footer-menu ul {
  margin-bottom: 20px;
}

.footer-menu ul li {
  list-style: none;
  line-height: 20px;
}

.footer-menu ul li:hover {
  text-decoration: underline;
}

.footer-menu ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: grey;
}

.sect-settings-2 {
  padding: 30px 0;
  background-color: #303030;
}

.container {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container button {
  padding: 10px;
  background-color: #303030;
  border: 2px solid #0282F9;
  color: white;
  font-size: 1.1rem;
}

.container button:hover {
  cursor: pointer;
  background-color: #0282F9;
  transition: 0.3s;
}

.container .footer-socials {
  display: flex;
  align-items: center;
}

.container .footer-socials * {
  margin: 0 10px;
}

.container .footer-socials h2 {
  font-size: 1.2rem;
  color: #0282F9;
}

.single-comic-section .blue-line {
  height: 100px;
  background-color: #0282F9;
}

.single-comic-section .single-comic-box {
  width: 60%;
  margin-inline: auto;
  height: 500px;
}

